body {
  font-family: Arial;
  background: blue;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100svw;
  height: 10svh;
}

#messages {
  background: white;
  color: black;
  padding: 10px;
  width: 90svw;
  height: 60svh;
  overflow-y: auto;
  border: 3px solid black;
  margin-bottom: 10px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90svw;
  height: 10svw;
  gap: 0px;
}

input {
  width: 85svw;
}

button {
  width: 5svw;
}