body {
  font-family: Arial;
  background: blue;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100svw;
  height: 10svh;
}

#messages {
  background: white;
  color: black;
  padding: 10px;
  width: 90svw;
  height: 60svh;
  overflow-y: auto;
  border: 3px solid black;
  margin-bottom: 10px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90svw;
  height: 10svw;
  gap: 0px;
}

input {
  width: 85svw;
}

button {
  width: 5svw;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

header button {
  background: white;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80svw;
  max-width: 400px;
  background: white;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  z-index: 999;
}

.hidden {
  display: none;
}

.menu h2 {
  margin-top: 0;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.menu-content {
  margin-top: 20px;
}

.themeOption {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  background: #eee;
  border-radius: 5px;
  font-size: 18px;
}
