body {
  font-family: Arial;
  background: #f1f1f1;
  padding: 20px;
}

#messages {
  background: white;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 12px;
}
